.main{
    background-image: url("bg.avif");
    text-align: center;
    font-style: italic;

    height:80vh;


    
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity:0.44;
    background-color: black;
    position: absolute;
    top:0;


}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: centre;
    height: 62px;
    z-index: 10;
    
    
}
nav button{
   position: relative;
   z-index: 10;
    height: 45px;
    width: 100px;
    background-color: pink;
    font-weight: bold;
    font-style: italic;
}
*{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    
}
h1{
    text-align: center;
    font-style: italic;
    text-decoration: dotted;
    font-size: 50px;


}

    
 
.container{
    
    display: flex;
    flex-wrap: wrap;
}
.Incandescence{
    width: 90%;
    height: auto;
    background-color: ;
    text-align: center;
    font-size: 25px;
    font text-decoration: position: top:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;

    

    color: 
}
.Power{
    display: flex;
    fle;
    
}

#search{
    text-align: center;
}
.div{
    display: flex;
    
}
.clubs{
    width: 200px;
    height: 200px;
    background-color: rgb(192, 192, 236);
    margin: 5px;

}
.Society{
    width: 200px;
    height: 200px;
    background-color:rgb(217, 235, 181) ;
    margin: 5px;

}
img{
    height: 150px;
}
.incand{
    height: ;
}
h2{
    color: purple;
}
button{
    color: black;
    background-color: rgb(233, 154, 167);
}
#event-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: 900px;
      margin: auto;
    }

    .event-card {
      background: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 15px;
    }

    .event-card h3 {
      margin: 0 0 5px 0;
    }

    .event-card p {
      margin: 5px 0;
      color: #555;
    }

    .event-card .date {
      font-size: 0.9em;
      color: #888;
    }
    a:hover{
        background-color: red;
    }
    .video{
       justify-content: center;
       display: flex;
       align-content: center;

    }
